--index-url https://download.pytorch.org/whl/cu118
torch==2.5.1
torchvision==0.20.1
faster-coco-eval>=1.6.7
opencv-python==4.13.0.92
tensorboard
scipy==1.16.3
calflops==0.3.2
transformers==4.57.1
scikit-learn==1.8.0
matplotlib==3.10.8
tqdm
PyYAML
comet_ml
